<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockIt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="dashboard.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="style-dash.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans"/>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="col-md-6">
            <p>StockIt</p>
        </div>
        <div class="col-md-6">
            <span class="login-form">
                <input type="text" id="searchinput" placeholder="Name of company">
                <button id="searchbutton" class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12" style="padding-top: 30px;">
        <span class="welcome">Welcome {{username}}!</span>
        <span class="pull-right welcome">Available Balance: $ {{balance}}</span>
    </div>

    <div class="col-md-12">
        <table class="table-striped">
            <tr>
                <th>Company Name</th>
                <th># of Stocks</th>
                <th>Amount Spent</th>
                <th>Current Rate</th>
                <th>Profit/Loss</th>
            </tr>
        </table>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="company-details" class="col-md-6" style="border-right: 1px solid #999; overflow: hidden">
            <table id="company-details-table" class="table-striped">
                <tr>
                    <th>Name</th>
                    <td id="companyName"></td>
                </tr>
                <tr>
                    <th>Symbol</th>
                    <td id="companySymbol"></td>
                </tr>
                <tr>
                    <th>Last Price</th>
                    <td id="companyLastPrice"></td>
                </tr>
                <tr>
                    <th>Change (Change Percent)</th>
                    <td id="companyChange"></td>
                </tr>
                <tr>
                    <th>Time and Date</th>
                    <td id="companyDateTime"></td>
                </tr>
                <tr>
                    <th>Market Cap</th>
                    <td id="companyMarketCap"></td>
                </tr>
                <tr>
                    <th>Volume</th>
                    <td id="companyVolume"></td>
                </tr>
                <tr>
                    <th>Change YTD (Change Percent YTD)</th>
                    <td id="companyChangeYTD"></td>
                </tr>
                <tr>
                    <th>High Price</th>
                    <td id="companyHighPrice"></td>
                </tr>
                <tr>
                    <th>Low Price</th>
                    <td id="companyLowPrice"></td>
                </tr>
                <tr>
                    <th>Opening Price</th>
                    <td id="companyOpenPrice"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h1>Buy or Sell Stock</h1>
            <form class="form-group buy-sell-form">
                <div>
                    <input type="text" id="buysellinput" class="form-control" placeholder="Number of stocks to buy/sell">
                </div>
                <div style="padding-top: 10px; text-align: center;">
                    <button id="buybutton" class="btn btn-success" type="button">Buy</button>
                    <button id="sellbutton" class="btn btn-danger" type="button">Sell</button>
                </div>
            </form>
        </div>
        
    </div>
</div>


</body>
</html>