<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockIt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="dashboard.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="style-dash.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="col-md-6">
            <p>StockIt</p>
        </div>
        <div class="col-md-6">
            <span class="login-form">
                <input type="text" id="searchinput" placeholder="Name of company">
                <button id="searchbutton" class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="border-right: 1px solid #999; overflow: hidden">
        
        </div>
        <div class="col-md-6">
        
        </div>
    </div>
</div>

</body>
</html>