<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockIt</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="col-md-6">
            <p>StockIt</p>
        </div>
        <div class="col-md-6">
            <form class="login-form" method="post" action="/login">
                <input type="text" id="username" placeholder="Username" name="username">
                <input type="password" id="password" placeholder="Password" name="password">
                <button class="btn btn-default" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="border-right: 1px solid #999; overflow: hidden">
            <p>
                Info here
            </p>
        </div>
        <div class="col-md-6">
            <h1>SignUp Here</h1>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label for="new-username">Username<span class="required-red"> *</span>: </label>
                    <input type="text" class="form-control" id="new-username" name="username" required>
                    <label for="new-email">Email<span class="required-red"> *</span>: </label>
                    <input type="email" class="form-control" id="new-email" name="email" required>
                    <label for="new-password">Password<span class="required-red"> *</span>: </label>
                    <input type="password" class="form-control" id="new-password" name="password" required>
                </div>
                <button class="btn btn-success" type="submit">Sign Up!</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>