body {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.header {
    background-color: cornflowerblue;
    overflow: hidden;
    padding-top: 20px;
}

.header p {
    font-size: 36px;
    font-family: Helvetica;
}

.login-form {
    position: absolute;
    padding-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#company-details{
    margin-top: 30px;
}

#company-details-table.table-striped tr th {
    width: 50%;
    margin-top: 20px;
}

.table-striped tr th, tr td {
    padding-left: 10px;
    line-height: 40px;
    border-top: 1px solid #e3e3e3;
}

.col-md-6 h1{
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
}

.buy-sell-form{
    margin: 0 auto;
    width:250px;
}